/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.chrome-logo {
  height: 40px;
}
.chrome-logo2{
  height:80px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
     color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}



.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.download-button a {
  padding: 0.8rem 2rem;
  background-color: #1a73e8;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}




